<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>Data View</title>
    <style>
        /* body {
            background-image: url('/Content/Image/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        } */

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>Display All</h1>

    <h2>Lego Sets List: </h2>
    <td>
        <button type="button" onclick="location.href='@Url.Action("Create", "Add")'">Dodaj zestaw</button>
    </td>

    <table>
        <tr>
            <th>Photo</th>
            <th>Set Name</th>
            <th>Set Number</th>
            <th>Series</th>
            <th>Elements Quantity</th>
            <th>Release Date</th>
            <th>Retail Price</th>
            <th>Resell Price</th>
            <th>Warehouse</th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td><img src="@Url.Content($"~/Content/Photos/background.jpg")" alt="@item.SetName" width="100"></td>
                    <td>@item.SetName</td>
                    <td>@item.SetNumber</td>
                    <td>@item.SelectedSeries</td>
                    <td>@item.ElementsQuantity</td>
                    <td>@item.ReleaseDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.RetailPrice</td>
                    <td>@item.ResellPrice</td>
                    <td>@item.Warehouse</td>
                    <td>
                        <button type="button" onclick="location.href='@Url.Action("Delete", "Delete", new { id = item.SetNumber })'">Usuń</button>
                        <button type="button" onclick="location.href='@Url.Action("Edit", "Edit", new { id = item.SetNumber })'">Edytuj</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>No data available</p>
        }
    </table>

</body>
</html>
