<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>Data View</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1, h2 {
            color: #333;
            text-align: center;
            margin: 20px 0;
        }

        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 80%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            color: #333;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        td img {
            display: block;
            margin: 0 auto;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }

        .search-container {
            text-align: center;
            margin-bottom: 20px;
        }

            .search-container input[type=text] {
                padding: 10px;
                margin: 0 auto;
                width: 50%;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .search-container button {
                padding: 10px 20px;
                background-color: #2196F3;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                .search-container button:hover {
                    background-color: #0b7dda;
                }

     
    </style>
</head>
<body>
    <h1>Lego Sets List:</h1>
    <div style="text-align: center;">
        <button type="button" onclick="location.href='@Url.Action("Create", "Add")'">Add Set</button>
    </div>

    <div class="search-container">
        <input type="text" placeholder="Search for set name.." id="searchInput">
        <button type="button" onclick="searchTable()">Search</button>
    </div>
  

    <table>
        <tr>
            <th>Set Name</th>
            <th>Set Number</th>
            <th>Series</th>
            <th>Elements Quantity</th>
            <th>Release Date</th>
            <th>Retail Price</th>
            <th>Resell Price</th>
            <th>Warehouse</th>
            <th>Actions</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.SetName</td>
                    <td>@item.SetNumber</td>
                    <td>@item.SelectedSeries</td>
                    <td>@item.ElementsQuantity</td>
                    <td>@item.ReleaseDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.RetailPrice</td>
                    <td>@item.ResellPrice</td>
                    <td>@item.Warehouse</td>
                    <td>
                        <button onclick="location.href='@Url.Action("Delete", "Delete", new { id = item.SetNumber })'">Delete</button>
                        <button onclick="location.href='@Url.Action("Edit", "Edit", new { id = item.SetNumber })'">Edit</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10" style="text-align: center;">No data available</td>
            </tr>
        }
    </table>

</body>
</html>
